<html>
<head>
  <style>
  </style>
</head>
<body>
<h2>
  Prepare for a benchmark
</h2>

<form action="/benchmark">
<label>Iterations:
<input name="how_many" value="10" style="width:100px;font-size:140%">
</label>
<br>
<label>Sleeptime:
<input name="sleep_time" value="0.1" style="width:100px;font-size:140%">
</label>
<br>
<label>Reset first:
<input type="checkbox" name="reset_first" value="1">
<small>means all tables are wiped before it beings. will break the ability to run concurrent benchmark tests</small>
</label>

<table>
  {% for i, label in enumerate(labels) %}
  <tr>
    <td><input type="checkbox" id="label{{ i }}" name="labels" value="{{ label }}" checked></td>
    <td><label for="label{{ i }}">{{ label }}</label></td>
  </tr>
  {% end %}
</table>

<button type="submit">Let's go!</button>
</form>

<script src="{{ static_url('jquery-1.9.1.min.js') }}"></script>
<script src="{{ static_url('prepare.js') }}"></script>
</body>
</html>
